body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.Calculator {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 25px;
}
.keypad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
}
.display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(141, 141, 207);
    height: 20%;
    color: #080e0e;
    font-size: 24px;
}